body{
    background-color: #FCFDFF;
}
.logo{
    position: absolute;
    width: 749px;
    height: 301px;
    left: 354px;
    top: 57px;
    background: url(TitleLogo.png);
}
.doodle{
    position: absolute;
    width: 515px;
    height: 516px;
    left: 799px;
    top: 401px;

    background: url(kitchen_doodle-removebg-preview.png);
}