body{
    background-color: #F5F5F5;
}
.logo{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 33%;
    top: -150px;
}
.doodle{
    position: absolute;
    width: 520px;
    height: 480px;
    left: 800px;
    top: 200px;
    /* background-image: url(kitchen_doodle-removebg-preview.png); */
    /* background-repeat: no-repeat; */
}

.login{
    position: absolute;
    width: 597.46px;
    height: 350.11px;
    left: 105.54px;
    top: 350px;
}

.text{
    position: absolute;
    width: 597.46px;
    height: 67.71px;
    left: 0px;
    top: -125px;

    font-family: 'Sacramento', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 20px;
    display: inline;
    color: #000000;
}


.email{
    position: absolute;
    width: 300.1px;
    height: 59.74px;
    left: 8px;
    top:20px;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 30px;
    font-family: Montserrat, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    border:none;
    padding-left: 20px;
}

.password{
    position: absolute;
    width: 300.1px;
    height: 59.74px;
    left: 115px;
    top:450px;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 30px;
    font-family: Montserrat, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    border:none;
    padding-left: 20px;
}


.name{
    position: absolute;
    width: 300.1px;
    height: 59.74px;
    left: 115px;
    top:530px;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 30px;
    font-family: Montserrat, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    border:none;
    padding-left: 20px;
}


.signbtn{
    position: absolute;
    width: 300px;
    height: 57.75px;
    left:115px;
    top: 625px;
    background: #FF5454;
    border-radius: 30px;
    font-family: Montserrat, sans-serif;;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 27px;
    border: none;
}

.signbtn:active {
    background-color: #FF5454;
    transform: translateY(2px);
}