body {
    background-color: #F5F5F5;
}


.title_img {
    width: 270px;
    height: 80px;
}


.nav_bar {
    list-style-type: none;
    margin-top: 20px;
    margin-right: 75px;
    padding: 0;
    display: inline;
}

.nav_links {
    display: inline;
    margin: 40px;
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    margin: 20px 7px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FF5454;
}


.sc_roll_1 {
    height: 500px;
    width: 1000px;
    margin: auto;
    background-color: cornsilk;
}



.carousel-control-next,
.carousel-control-prev

/*, .carousel-indicators */
    {
    filter: invert(100%);


}



.sidenav {
    margin-left: 20px;
    background-color: #FAF9F6;
}


.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: white !important;
    outline: none;
    box-shadow: none !important;
}


.ingredient {
    color: #FF0000;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
}



.img_resize {
    height: 500px;
    width: 1000px;

}


.carousel-caption {
    color: rgb(64, 64, 64) !important;
    font-weight: 700;
    font-size: 30px !important;
    position: relative;
    margin-bottom: 140px;
    margin-left: 65px;
}


#dropdownMenuButton {
    background-color: rgb(221, 218, 218);
    color: black;
    width: 370px;
    position: relative;
    margin-top: 30px;
}


#dropdownMenuButton:hover {
    background-color: #FF5454;
}




.dropdown-menu {
    width: 100%;
    max-width: 660px;
    /* width: 370px; */
}


.dropdown-menu>li:hover,
.dropdown-menu>li:focus {
    background-color: #FF5454;
    border-radius: 3px;
    margin-left: 0px;
}

.dropdown-menu>li{
    margin-left: 5px;
    padding: 2px;
}

.dropdown-menu>li>img{
    height: 50px;
    width: 50px;
}



::selection {
    color: #fff;
    background: #664AFF;
}

.wrapper {
    max-width: 450px;
    /* margin: 150px auto; */
    margin-top: 0px;
}

.wrapper .search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box li {
    display: block;
}

.autocom-box li:hover {
    background: #efefef;
}

.search-input .icon {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}



.poprec {
    border-radius: 15px;
    border: 2.25px solid black;
    text-align: center;
    margin: auto;
    width: 1000px;
    font-size: xx-large;
    color: #FF5454;
    background-color: #e7e5e5;
}

#select{
    background-color: #FF5454;
    width:40%;
    margin: auto;
    margin-bottom: 15%;
    border-radius: 5vw;
    color: white;
    padding: 5px;
    border: none;
}

#select:active {
    background-color: #FF5454;
    transform: translateY(2px);
}

#n_items{
    background-color: #FF5454;
    width:50px;
    text-align: center;
    color: white;
    /* border:solid black; */
    /* margin-left: 5%; */
}

#img{
    display: none;
}

.xyz{
    display: none;
}

.item_list{
    /* background-color: #FF5454; */
    /* position: relative; */
    margin-top: -100px;
    width:50%;
    /* mar */
    padding-left: 10px;
    /* height: ; */
    margin:auto;
    border: 2px solid;
    border-radius: 20px;
}

.l_button{
    /* position: absolute; */
    position: relative;
    width: 300px;
    height: 57.75px;
    left:400px;
    top: -12px;
    /* margin-left:50%; */
    background: #FF5454;
    border-radius: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    border: none;
    display: none;
}



.l_button:active {
    background-color: #FF5454;
    transform: translateY(2px);
}

#l_button_2{
    /* position: absolute; */
    position: relative;
    width: 300px;
    height: 57.75px;
    left:700px;
    top: -69px;
    text-align: center;
    background: #FF5454;
    border-radius: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    border: none;
    display: none;
    margin-top: 80px;
}


.l_button_2:active {
    background-color: #FF5454;
    transform: translateY(2px);
}

.l_button_2>a{
    position: relative;
    left:100px;
    font-size: 10px;
    top:10px;
    text-decoration: none;
    color: white;
}

.l_button_2>a:hover{
    text-decoration: none;
    color: white;
}

.rec{
	display: flex;
	flex-wrap: wrap;
	width:1000px;
	text-align: center;
	margin:auto;
	border-radius: 15px;
	border: 2.25px solid black;
	background-color: #e7e5e5;
	height:700px;
	font-family: "Montserrat", sans-serif;
}

.rec1>a>img{
	display:flex;
	position: relative;
	width: 250px;
	height: 250px;
	margin-left:45px;
	margin-top:50px;
	box-shadow: 10px 10px 10px grey;
	border: 2.25px;
	border-radius: 10px;
}
.rec1>a>img:active{
	transform: translateY(4px);
}
.rec1>a>p{
	font-size:18px;
	margin-top:12px;
	margin-left:50px;
}


.rec2>a>img{
	display:flex;
	position: relative;
	width: 250px;
	height: 250px;
	margin-left:80px;
	margin-top:50px;
	box-shadow: 10px 10px 10px grey;
	border: 2.25px;
	border-radius: 10px;
}
.rec2>a>img:active{
	transform: translateY(4px);
}
.rec2>a>p{
	font-size:18px;
	margin-top:12px;
	margin-left:100px;
}

.rec3>a>img{
	display:flex;
	position: relative;
	width: 250px;
	height: 250px;
	margin-left:80px;
	margin-top:50px;
	box-shadow: 10px 10px 10px grey;
	border: 2.25px;
	border-radius: 10px;
}
.rec3>a>img:active{
	transform: translateY(4px);
}
.rec3>a>p{
	font-size:18px;
	margin-top:12px;
	margin-left:100px;
}
.rec4>a>img{
	display:flex;
	position: relative;
	width: 250px;
	height: 250px;
	margin-left:45px;
	box-shadow: 10px 10px 10px grey;
	border: 2.25px;
	border-radius: 10px;	
}
.rec4>a>img:active{
	transform: translateY(4px);
}
.rec4>a>p{
	font-size:18px;
	margin-top:12px;
	margin-left:50px;
}
.rec5>a>img{
	display:flex;
	position: relative;
	width: 250px;
	height: 250px;
	margin-left:80px;
	box-shadow: 10px 10px 10px grey;
	border: 2.25px;
	border-radius: 10px;	
}
.rec5>a>img:active{
	transform: translateY(4px);
}
.rec5>a>p{
	font-size:18px;
	margin-top:12px;
	margin-left:85px;
}
.rec6>a>img{
	display:flex;
	position: relative;
	width: 250px;
	height: 250px;
	margin-left:80px;
	box-shadow: 10px 10px 10px grey;
	border: 2.25px;
	border-radius: 10px;	
}
.rec6>a>img:active{
	transform: translateY(4px);
}
.rec6>a>p{
	font-size:18px;
	margin-top:12px;
	margin-left:90px;
}
#fetch_recipes{
    color: white;
    margin-top:10px;
    left:-5px;
    font-size: 18px;
}